/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
    
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 75%;
}

/* 
    HEADER
*/

header {
    background-color: #FF6800;
    min-height: 50px;
    color: white;
    padding: 15px 0;
}

.menu {
    display: flex;
}

.my-col-1-4 ul {
    display: flex;
}
.my-col-1-4 a {
    padding-left: 5px;
}

li{
    list-style: none;
    padding-right: 5px;
}

a {
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

nav img {
    max-width: 100px;
    transform: translateX(50%);
}

.my-col-1-2 {
    width: calc(50%);
}

.my-col-1-4 {
    width: calc(25%);
    text-align: end;
}

/* 
    MAIN
*/
main{
    min-height: 700px;
    padding: 35px 0;
}




/* 
    FOOTER
*/

footer {
    background-color: #1A1A1A;
    min-height: 50px;
    color: white;
}