/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
    
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    min-height: 50px;
    padding: 15px 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 75%;
}

h5{
    font-weight: 400;
}

/* 
    HEADER
*/

header {
    background-color: #FF6800;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}

.menu {
    display: flex;
}

.my-col-1-4 ul, .my-col-1-2 ul {
    display: flex;
}

.padding-left a{
    padding-left: 8px;
    
}

li{
    list-style: none;
}

a{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

nav img {
    max-width: 100px;
    transform: translateX(50%);
}

.my-col-1-2 {
    width: calc(33%);
}

.my-col-1-4 {
    width: calc(33%);
    text-align: end;
}

/* 
    MAIN
*/

main{
    min-height: 700px;
    margin-top: 100px;
}

.card {
    margin-bottom: 40px;
    width: calc((100% / 3) - 15px);
}

.card:hover {
    cursor: pointer;
}

.model{
    position: relative;
}

.model img{
    width: 100%;
    display: block;
}

div img:nth-of-type(2) {
    position: absolute;
    top: 0;
    display: none;
}

.tags {
    position: absolute;
    bottom: 10%;
}

.discount {
    background-color: red;
    width: 50px;
    margin-right: 4px;
}

.sustainability {
    background-color: green;
}

.fav {
    background-color: white;
    padding: 8px;
    top: 5px;
    right: 0;
}
.info {
    padding-top: 8px;
}

.discount, .sustainability{
    color: white;
    padding: 3px 6px;
}

.tags, .fav{
    position: absolute;
}

.model:hover img:nth-of-type(2) {
    display: block;
}

div > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.price{
    color: red;
}

.first-price{
    text-decoration: line-through;
}

/* 
    FOOTER
*/

footer {
    background-color: #1A1A1A;
    min-height: 50px;
    color: white;
}

footer a {
    color: white;
}

.legal-info{
    display: flex;
}

footer .my-col-1-2:nth-of-type(2) h4 {
    text-align: end;
}

footer .my-col-1-2:first-of-type ul{
    font-size: x-small;
}

footer .my-col-1-2:nth-of-type(2) > * {
    font-size: smaller;
    justify-content: flex-end;
}

.padding-right a {
    padding-right: 8px;
}